Flask
flask-socketio==5.1.1
tensorflow
keras
psutil==5.8.0
pyOpenSSL
scapy==2.4.5
numpy
requests
python-engineio==4.2.1
python-socketio==5.4.0
Werkzeug==2.3.0
beautifulsoup4
scikit-learn==0.24.2
altair
typing-extensions>=4.5.0
googlesearch-python
whois
python-dateutil
flask_cors